# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
ENV/

# =========================
# Django
# =========================
*.log
db.sqlite3
*.sqlite3
db.sqlite3-journal
media/

# =========================
# Static files (collectstatic)
# =========================
staticfiles/

# =========================
# Environment variables
# =========================
.env

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Migrations (optionnel)
# =========================
# migrations/
# !*/migrations
# !*/migrations/*.py
# !*/migrations/*.pyc